<a href="/post/{{id}}" class="btn w-100">
  <div class="card">
    <div class="card-header">
      <h5>{{title}}</h5>
      <h6 id="postedBy">Posted by
        {{user.username}}
        on
        {{formatDate createdAt "DD-MM-YYYY"}}</h6>
    </div>
    <div class="card-body">
      <p class="card-text">{{post_text}}</p>
    </div>
  </div>
</a>